<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="cyberbase"> <!--<![endif]-->
<head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title></title>
     <meta name="description" content="Page Usagers cyberbase">
     <meta name="author" content="Groupe_Lemon">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/style.css">
     <link rel="icon" href="images/lemon.ico">
  <script type ="text/javascript" src="js/angular.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="container">
           <header id="header" class="page-header">
                 <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="Postes.html">Postes</a>
              <a class="navbar-brand" href="Usagers.html">Usagers</a>
              <a class="navbar-brand" href="login.html">Statistiques</a>
              <a class="navbar-brand" href="login.html">Salles</a>
              <a class="navbar-brand" href="Utilisateurs.html">Utilisateurs</a>
            </div>
            <div id="titreHeader" class="nav navbar-nav">
              <h3>CyberGest v1.0</h3>
            </div>
            <span id="btnDisconnect" class="nav navbar-nav navbar-right">
              <button class="btn btn-sm btn-danger btn-block" type="submit">Déconnexion</button>
            </span>
            <div id="userHeader" class="nav navbar-nav navbar-right">
              <div id="userHeader">
                <span>user.avatar</span>
                <span>user.firstname user.lastname</span>    
              </div>    
            </div>
          </div>
        </nav>
      </header><!-- /header -->
<!-- ********************************************************** Contenu ************************************************************************ -->

<div class="row">
  <aside id="blocUsagerG" class="col-md-3">
    <form id="form_blocUsagerG" class="form-signin" role="search">
      <div class="form-group">
        <!-- Sélection usager -->
        <h2>Sélectionner un utlisateur</h2>
        <input type="text" class="form-control" placeholder="Selectionner...">
        <textarea name="autoCompUtilisateur" rows="10" class="form-control"></textarea>  
      </div>
    </form>
  </aside>
  <div class="col-md-1"></div>
  <section id="blocPrincipal" class="col-md-8">
    <form id="form_blocPrincipal" class="form-signin" role="search">
      <div id="champNomPrenom" class="row ligneBlocPrincipal">
        <div class="row">
          <label for "inputLastName" class="col-md-6 champLabel">Nom</label>
          <label for "inputFirstName" class="col-md-6 champLabel">Prénom</label>
        </div>
        <div class="row">
          <input type="text" class="form-control col-md-6 champInputG" name="inputLastName" id="inputLastName" placeholder="">                      
          <input type="text" class="form-control col-md-6 champInputD" name="inputFirstName" id="inputFirstName" placeholder="">
        </div>
      </div>
      <div id="champSelection" class="row ligneBlocPrincipal">
        <div class="row">
          <label for="districts" class="col-md-6 champLabel">Site De Reférence</label>
          <label for="structure" class="col-md-6 champLabel">Structure d'appartenence</label>
        </div>
        <div class="row">
          <select name="districts" id="districts" class="form-control champInputG col-md-6">
            <option value="centre">Centre-ville</option>
            <option value="chantenay">Bellevue - Chantenay - Ste Anne</option>
            <option value="zola">Dervallières - Zola</option>
            <option value="felix">Hauts-Pavés - St Félix</option>
            <option value="donatien">Malakoff - St Donatien</option>
            <option value="ile">Île de Nantes</option>
            <option value="breil">Breil - Barberie</option>
            <option value="nord">Nantes Nord</option>
            <option value="erdre">Nantes Erdre</option>
            <option value="doulon">Doulon - Bottière</option>
            <option value="sud">Nantes Sud</option>
          </select> 
          <select name="structure" id="structure" class="form-control champInputD col-md-6">
            <option value="0">Structure d'appartenance</option>
            <option value="1" ng-model="employee.structure">Pôle Emploi</option>
            <option value="2" ng-model="employee.structure">APEC</option>
            <option value="3" ng-model="employee.structure">Mission Locale</option>
          </select>
        </div>
      </div>
      <div id="checkUtilMulti" class="row ligneBlocPrincipal">
        <input type="checkbox" name="utlimultisites" id="utlimultisites"/>
          <h5>Utilisateur multi sites</h5>
      </div>
      <div id="champNomPrenom" class="row ligneBlocPrincipal">
        <div class="row">
          <label for "inputPassword" class="col-md-6 champLabel">Mot de passe</label>
          <label for "inputConfirmPassword" class="col-md-6 champLabel">Confirmation du mot de passe</label>
        </div>
        <div class="row">
          <input type="text" class="form-mdp col-md-6 champInputG" name="inputPassaword" id="inputPassaword" placeholder="">
          <input type="text" class="form-mdp col-md-6 champInputD" name="inputConfirmPassword" id="inputConfirmPassword" placeholder="">
        </div>
      </div> 
      <div id="btnsUsager" class="row ligneBlocPrincipal">
        <button type="submit" class="btn btn-lg btn-danger glyphicon glyphicon-warning-sign col-md-4"> Annuler</button>
        <button type="submit" class="btn btn-lg btn-warning glyphicon glyphicon-retweet col-md-4"> Modifier</button>
        <button type="submit" class="btn btn-lg btn-success glyphicon glyphicon-check col-md-4"> Créer</button>
      </div>
    </form>
  </section>
</div>
  <footer class="footer">
    <div class="container">
      <span class="footerLink">
        <a href="http://www.cyber-base.org/institutionnel/home.do">Cyber-base</a>
      </span>
      <span class="footerLink"> | </span>
      <span id="mentionLink">
        <a href="http://www.cyber-base.org/institutionnel/cgu/afficherCgu.do">Mentions légales</a>
      </span>
      <span class="divider"> | </span>
      <span class="footerLink">
        <a href="http://www.cyber-base.org/institutionnel/contact/afficherContact.do?">Contact</a>
      </span>
    </div>
  </footer>
</div> <!-- /container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.2.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<!-- Angular app -->
<script src="js/cyberbase.js"></script>
</body>
</html>